* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.error-massage {
  align-self: flex-start;
  padding: 0;
  margin: 0;
  color: red;
  font-size: 10px;
}
.form-add {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0px 0px 20px grey;
}
label {
  align-self: flex-start;
  font-size: 20px;
  color: rgb(30, 17, 220);
}
.input {
  width: 100%;
  padding: 10px 10px;
  color: hwb(180 15% 80%);
  margin-bottom: 20px;
  outline: none;
}
.error {
  border: 2px solid red;
}
.btn-back {
  padding: 10px 20px;
}

.cart_user {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  max-width: 600px;
}
